{% extends "layouts/base.html" %}

{% block title %} Student {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load student_extras %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Student </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Student</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5> Student List </h5>
                            </div>

                            <div class="card-block table-border-style">
                                <form action="/student_add_ui" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" title="Add a new student"
                                        data-toggle="tooltip"> Add <i class="feather icon-plus-square"></i> </button>
                                </form>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Birthday</th>
                                                <th>Specialized</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obj in data %}
                                            <tr>
                                                <th scope="row" onclick="view_detail(this, '{{obj.id}}')" style="vertical-align: middle; cursor: pointer;">{{ forloop.counter }}</th>
                                                <td onclick="view_detail(this, '{{obj.id}}')" style="vertical-align: middle; cursor: pointer;">{{obj.name}}</td>
                                                <td onclick="view_detail(this, '{{obj.id}}')" style="vertical-align: middle; cursor: pointer;">{{obj.birthday}}</td>
                                                <td onclick="view_detail(this, '{{obj.id}}')" style="vertical-align: middle; cursor: pointer;"> {{SPECIALIZED_ARR|get_item:obj.specialized}}
                                                </td>
                                                <td>
                                                    <form action="/student_edit_ui" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-warning"
                                                            title="Edit this student" data-toggle="tooltip"
                                                            name="student_id" value="{{obj.id}}" style="width: 100px">
                                                            Edit <i class="feather icon-edit"></i></button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="/student_delete" method="post"
                                                        id="delete_form_{{obj.id}}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="student_id" value="{{obj.id}}">
                                                        <button type="button" class="btn btn-danger"
                                                            title="Delete this student" data-toggle="tooltip"
                                                            style="width: 100px" onclick="delete_student(this)"
                                                            value="{{obj.id}}"> Delete <i
                                                                class="feather icon-trash-2"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

    function delete_student(button) {
        if (confirm("Are you sure you want to delete this student?")) {
            var form = document.getElementById('delete_form_' + button.value);
            form.submit();
        } else {

        }
    }

    function view_detail(row, id) {
        window.location = 'student_detail?id=' + id;

    };

</script>
{% endblock javascripts %}