{% extends "layouts/base.html" %} {% block title %} UI Student Detail {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% load home_extras %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Student Detail </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/student">Student</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Student Detail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Student Detail</h5>
                            </div>
                            <div class="card-body">
                                <h5>Student Informations</h5>
                                <hr>

                                <div class="avatar-label-wrapper">
                                    <label style="margin: 0 auto;"> Avatar </label>
                                </div>

                                <div class="avatar-wrapper">
                                    <img id="img" class="profile-pic" src="static/assets/images/student/{{record_student.avatar}}" onerror="this.src='https://banner2.cleanpng.com/20180703/ya/kisspng-computer-icons-user-avatar-user-5b3bafe2381423.1933594815306383062297.jpg'; this.onerror=null;">
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-4" style="margin-left: 50px;">
                                        <label>Code</label>
                                        <div class="form-control"> {{record_student.code}} </div>
                                    </div>

                                    <div class="form-group col-md-6" style="margin-right: 50px;">
                                        <label>Name</label>
                                        <div class="form-control"> {{record_student.name}} </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-5" style="margin-left: 50px;">
                                        <label>Address</label>
                                        <div class="form-control"> {{record_student.address}} </div>
                                    </div>

                                    <div class="form-group col-md-5" style="margin-right: 50px;">
                                        <label>Phone</label>
                                        <div class="form-control"> {{record_student.phone}} </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-5" style="margin-left: 50px;">
                                        <label>Birthday</label>
                                        <div class="form-control"> {{record_student.birthday}} </div>
                                    </div>
                                    <div class=" form-group col-md-5" style="margin-right: 50px;">
                                        <label>Specialized</label>
                                        <div class="form-control">
                                            {{SPECIALIZED_ARR|get_item:record_student.specialized}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-10" style="margin-left: 50px;">
                                        <label> Description </label>
                                        <textarea readonly class="form-control" rows="3" placeholder="Description" name="description">{{record_student.description}}</textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}