{% extends "layouts/base.html" %} {% block title %} UI Student Add {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Student Add </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/student">Student</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Student Add</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Student Add</h5>
                            </div>
                            <div class="card-body">
                                <h5>Student Informations</h5>
                                <hr>
                                <form action="/student_add" method="post" id="add_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="avatar-label-wrapper">
                                        <label style="margin: 0 auto;"> Avatar </label>
                                    </div>
                                    <div class="avatar-label-wrapper">
                                        <b style="color: red!important; margin: auto;" class="text-muted">{{avatar.0}}</b>
                                    </div>

                                    <div class="avatar-wrapper">
                                        <img id="img" onclick="browse_file()" class="profile-pic" src="https://banner2.cleanpng.com/20180703/ya/kisspng-computer-icons-user-avatar-user-5b3bafe2381423.1933594815306383062297.jpg ">
                                        <input id="avatar" type="file" accept="image/*" name="avatar" onchange="getFileData(this);">
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-4" style="margin-left: 8.33333%;">
                                            <label>Code</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{code.0}}</b>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Name</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{name.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-4" style="margin-left: 8.33333%;">
                                            <input class="form-control" type="text" placeholder="Code" name="code">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <input class="form-control" type="text" placeholder="Name" name="name">
                                        </div>
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-5" style="margin-left: 8.33333%;">
                                            <label>Address</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{address.0}}</b>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Phone</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{phone.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-5" style="margin-left: 8.33333%;">
                                            <input class="form-control" type="text" placeholder="Address" name="address">
                                        </div>

                                        <div class="form-group col-md-5">
                                            <input class="form-control" type="text" placeholder="Phone" name="phone">
                                        </div>
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-5" style="margin-left: 8.33333%;">
                                            <label>Birthday</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{birthday.0}}</b>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Specialized</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{specialized.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-5" style="margin-left: 8.33333%;">
                                            <input class="form-control" type="date" placeholder="Birthday" name="birthday">
                                        </div>

                                        <div class="form-group col-md-5">
                                            <select class="form-control" type="text" placeholder="Specialized" name="specialized">
                                                <option value=""> </option>
                                                {% for v, n in SPECIALIZED_ARR.items %}
                                                {% if v == specialized_value %}
                                                <option value="{{v}}" selected> {{n}}</option>
                                                {% else %}
                                                <option value="{{v}}"> {{n}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-10" style="margin-left: 8.33333%;">
                                            <label>Description</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{description.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-10" style="margin-left: 8.33333%;">
                                            <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
                                        </div>
                                    </div>
                                </form>
                                <div class="row form-group">
                                    <div style="margin :auto">
                                        <button type="button" class="btn btn-primary" style="width: 100px; margin-right: 10px;" title="Add new student" data-toggle="tooltip" onclick="add_student()"> Add <i
                                            class="feather icon-plus-square"></i> </button>
                                        <a href="/student">
                                            <button type="button" class="btn btn-warning" style="width: 100px" title="Cancel" data-toggle="tooltip"> Cancel <i
                                                class="feather icon-x-circle"></i> </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function add_student() {
        if (confirm("Are you sure you want to add this student?")) {
            var form = document.getElementById('add_form');
            form.submit();
        } else {

        }
    }

    function getFileData(myFile) {
        var file = myFile.files[0];
        if (file) {
            document.getElementById('img').src = URL.createObjectURL(file);
        }
    }

    function browse_file() {
        document.getElementById("avatar").click();
    }
</script>
{% endblock javascripts %}