{% extends "layouts/base.html" %} {% block title %} UI Course Student Add {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Course Student Add </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/course">Course</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Course Student Add</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Course Student Add</h5>
                            </div>

                            <div class="card-body">
                                <h5>Choose Student</h5>
                                <hr>
                                <form action="/course_student_add" method="post" id="add_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{course_id}}">

                                    <div class="card-block table-border-style">
                                        <button type="button" class="btn btn-primary" style="float: right;" title="Add new student" data-toggle="tooltip" onclick="add_student()"> Add <i
                                            class="feather icon-plus-square"></i> </button>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" onclick="check_all_students()" id="students_check">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for student in student_records %}
                                                    <tr>
                                                        <th>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input student" name="students" value="{{student.id}}">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </th>
                                                        <td style="vertical-align: middle; cursor: pointer;">
                                                            {{student.code}}
                                                        </td>
                                                        <td style="vertical-align: middle; cursor: pointer;">
                                                            {{student.name}}
                                                        </td>

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function add_student() {
        if (confirm("Are you sure you want to add this student(s) ?")) {
            var form = document.getElementById('add_form');
            form.submit();
        } else {

        }
    }
</script>
{% endblock javascripts %}