{% extends "layouts/base.html" %} {% block title %} UI Course Edit {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Course Edit </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/course">Course</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Course Edit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Course Edit</h5>
                            </div>
                            <div class="card-body">
                                <h5>Course Informations</h5>
                                <hr>
                                <form action="/course_edit" method="post" id="edit_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{record_course.id}}">

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-5" style="margin-left: 8.33333%;">
                                            <label>Name</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{name.0}}</b>
                                        </div>

                                        <div class="col-md-5" style="margin-right: 50px;">
                                            <label>Subject</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{subject.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-5" style="margin-left: 8.33333%;">
                                            <input class="form-control" type="text" placeholder="Name" name="name" value="{{record_course.name}}">
                                        </div>


                                        <div class="form-group col-md-5" style="margin-right: 50px;">
                                            <select class="form-control" type="text" name="subject_id">
                                                <option value=""> </option>
                                                {% for subject in subject_records %}
                                                {% if subject == record_course.subject %}
                                                <option value="{{subject.id}}" selected> {{subject.name}}</option>
                                                {% else %}
                                                <option value="{{subject.id}}"> {{subject.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-10" style="margin-left: 8.33333%; margin-right: 50px;">
                                            <label>Description</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{description.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-10" style="margin-left: 8.33333%;">
                                            <textarea class="form-control" rows="3" placeholder="Description" name="description">{{record_course.description}}</textarea>
                                        </div>
                                    </div>
                                </form>

                                <div class="row form-group">
                                    <div style="margin :auto">
                                        <button type="button" class="btn btn-primary" style="width: 100px; margin-right: 10px;" title="Edit course" data-toggle="tooltip" onclick="edit_course()"> Edit <i
                                            class="feather icon-edit"></i> </button>
                                        <a href="/course">
                                            <button type="button" class="btn btn-warning" style="width: 100px" title="Cancel" data-toggle="tooltip"> Cancel <i
                                                class="feather icon-x-circle"></i> </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Course's Teachers</h5>
                            </div>

                            <!-- <div class="card-body">
                                <form action="/course" method="get">

                                    <input class="form-control"
                                        style="border: 1px solid #ced4da; display: initial; width: auto; margin-right: 1%;"
                                        type="text" placeholder="Name or description" name="keyword">

                                    <button type="submit" class="btn btn-primary" title="Search course"
                                        data-toggle="tooltip"> Search <i class="feather icon-search"></i> </button>
                                </form>
                            </div>
                            <hr> -->

                            <div class="card-block table-border-style">
                                <button type="button" class="btn btn-danger" title="Delete course's teachers" data-toggle="tooltip" style="float: right" onclick="delete_course_teacher(this)"> 
                                    Delete 
                                    <i class="feather icon-trash-2"></i> 
                                </button>

                                <form action="/course_teacher_add_ui" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{record_course.id}}">

                                    <button type="submit" class="btn btn-primary" title="Add a new teacher for course" data-toggle="tooltip" style="float: right; margin-right: 10px;"> Add <i
                                            class="feather icon-plus-square"></i> </button>
                                </form>

                                <form action="/course_teacher_delete" method="post" id="delete_form_teacher">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{record_course.id}}">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" onclick="check_all_teachers()" id="teachers_check">
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for teacher in teacher_records %}
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input teacher" name="teachers" value="{{teacher.id}}">
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </td>
                                                    <td onclick="view_detail_teacher(this, '{{teacher.id}}')" style="vertical-align: middle; cursor: pointer;">{{teacher.name}}
                                                    </td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5>Course's Students</h5>
                            </div>

                            <div class="card-block table-border-style">
                                <button type="button" class="btn btn-danger" title="Delete course's students" data-toggle="tooltip" style="float: right" onclick="delete_course_student(this)"> 
                                    Delete 
                                    <i class="feather icon-trash-2"></i> 
                                </button>

                                <form action="/course_student_add_ui" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{record_course.id}}">

                                    <button type="submit" class="btn btn-primary" title="Add a new student for course" data-toggle="tooltip" style="float: right; margin-right: 10px;"> Add <i
                                            class="feather icon-plus-square"></i> </button>
                                </form>

                                <form action="/course_student_delete" method="post" id="delete_form_student">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{record_course.id}}">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" onclick="check_all_students()" id="students_check">
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </th>
                                                    <th style="width: 15%;">Code</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for student in student_records %}
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input student" name="students" value="{{student.id}}">
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: middle; cursor: pointer;">
                                                        {{student.code}}
                                                    </td>
                                                    <td onclick="view_detail_student(this, '{{student.id}}')" style="vertical-align: middle; cursor: pointer;">{{student.name}}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function edit_course() {
        if (confirm("Are you sure you want to edit this course?")) {
            var form = document.getElementById('edit_form');
            form.submit();
        } else {

        }
    }

    function delete_course_teacher(button) {
        if (confirm("Are you sure you want to delete this teacher(s) ?")) {
            var form = document.getElementById('delete_form_teacher');
            form.submit();
        } else {

        }
    }

    function delete_course_student(button) {
        if (confirm("Are you sure you want to delete this student(s) ?")) {
            var form = document.getElementById('delete_form_student');
            form.submit();
        } else {

        }
    }

    function view_detail_teacher(row, id) {
        window.location = 'teacher_detail?id=' + id;
    };

    function view_detail_student(row, id) {
        window.location = 'student_detail?id=' + id;
    };

    function check_all_teachers() {
        boxes = document.getElementsByClassName("teacher")
        for (let i = 0; i < boxes.length; i++) {
            boxes[i].checked = document.getElementById("teachers_check").checked;
        }
    }

    function check_all_students() {
        boxes = document.getElementsByClassName("student")
        for (let i = 0; i < boxes.length; i++) {
            boxes[i].checked = document.getElementById("students_check").checked;
        }
    }
</script>
{% endblock javascripts %}