{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-4">Sign up</h3>

                <span class="mb-0 text-muted">
                    {% if msg %}
                    {{ msg | safe }}
                    {% else %}
                    Add your credentials
                    {% endif %}
                </span>

                <br />
                <br />

                <form role="form" method="post" action="">

                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <input type="text" name="username" placeholder="Username" class="form-control" autofocus
                            required>
                    </div>
                    <span class="text-error">{{ username.0 }}</span>

                    <div class="input-group mb-4">
                        <select name="teacher_id" class="form-control">
                            <option value="">Choose Teacher</option>
                            {% for teacher in teacher_records %}
                            <option value={{teacher.id}}>{{teacher.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="text-error">{{ teacher.0 }}</span>

                    <div class="input-group mb-3">
                        <select name="student_id" class="form-control">
                            <option value="">Choose Student</option>
                            {% for student in student_records %}
                            <option value={{student.id}}>{{student.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="text-error">{{ student.0 }}</span>

                    <div class="input-group mb-4">
                        <input type="password" name="password" placeholder="Password" class="form-control"
                            id="id_password">
                    </div>
                    <span class="text-error">{{ password.0 }}</span>

                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                            <label for="checkbox-fill-a1" class="cr"> Agree with <a href="#">terms</a></label>
                        </div>
                    </div>
                    <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                </form>

                <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                <br />
                <p class="mb-2 text-muted">
                    &copy; <a target="_blank" href="https://bit.ly/37fF9RT">CodedThemes</a>
                    - <a target="_blank" href="https://appseed.us/admin-dashboards/django-datta-able">Django Datta
                        Able</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}