{% extends "layouts/base.html" %} {% block title %} UI Teacher Detail {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% load home_extras %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Teacher Detail </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/teacher">Teacher</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Teacher Detail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Teacher Detail</h5>
                            </div>
                            <div class="card-body">
                                <h5>Teacher Informations</h5>
                                <hr>

                                <div class="avatar-label-wrapper">
                                    <label style="margin: 0 auto;"> Avatar </label>
                                </div>

                                <div class="avatar-wrapper">
                                    <img id="img" class="profile-pic" src="/static/assets/images/teacher/{{record_teacher.avatar}}" onerror="this.src='https://banner2.cleanpng.com/20180703/ya/kisspng-computer-icons-user-avatar-user-5b3bafe2381423.1933594815306383062297.jpg'; this.onerror=null;">
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-4" style="margin-left: 8.33333%;">
                                        <label>Name</label>
                                        <div class="form-control"> {{record_teacher.name}} </div>
                                    </div>

                                    <div class="form-group col-md-6" style="margin-right: 50px;">
                                        <label>Address</label>
                                        <div class="form-control"> {{record_teacher.address}} </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-5" style="margin-left: 8.33333%;">
                                        <label>Phone</label>
                                        <div class="mb-3 form-control"> {{record_teacher.phone}} </div>
                                    </div>

                                    <div class="form-group col-md-5" style="margin-right: 50px;">
                                        <label>Birthday</label>
                                        <div class="mb-3 form-control"> {{record_teacher.birthday}} </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="col-md-5" style="margin-left: 8.33333%;">
                                        <label>Specialized</label>
                                        <div class="form-control">
                                            {{SPECIALIZED_ARR|get_item:record_teacher.specialized}}
                                        </div>
                                    </div>

                                    <div class="form-group col-md-5" style="margin-right: 50px;">
                                        <label>Degree</label>
                                        <div class="mb-3 form-control">
                                            {{DEGREE_ARR|get_item:record_teacher.degree}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group col-md-10" style="margin-left: 8.33333%;">
                                        <label>Description</label>
                                        <textarea readonly class="form-control" rows="3">{{record_teacher.description}}</textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}