{% extends "layouts/base.html" %}

{% block title %} Teacher {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load home_extras %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Teacher </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Teacher</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5> Teacher List </h5>
                            </div>

                            <div class="card-body">
                                <form action="/teacher" method="get">

                                    <input class="form-control"
                                        style="border: 1px solid #ced4da; display: initial; width: auto; margin-right: 1%;"
                                        type="text" placeholder="Name or description" name="keyword">

                                    <select class="form-control"
                                        style="border: 1px solid #ced4da; display: initial; width: auto; margin-right: 1%;"
                                        type="text" name="specialized">
                                        <option value="" disabled selected> Specialized </option>
                                        {% for v, n in SPECIALIZED_ARR.items %}
                                        <option value="{{v}}"> {{n}}</option>
                                        {% endfor %}
                                    </select>

                                    <input class="form-control"
                                        style="border: 1px solid #ced4da; display: initial; width: auto; margin-right: 1%;"
                                        type="date" placeholder="Birthday" name="birthday">

                                    <button type="submit" class="btn btn-primary" title="Search teacher"
                                        data-toggle="tooltip"> Search <i class="feather icon-search"></i> </button>
                                </form>
                            </div>
                            <hr>

                            <div class="card-block table-border-style">
                                <form action="/teacher_add_ui" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" title="Add a new teacher"
                                        data-toggle="tooltip" style="float: right"> Add <i
                                            class="feather icon-plus-square"></i> </button>
                                </form>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Birthday</th>
                                                <th>Specialized</th>
                                                <th>Degree</th>
                                                <th style="width: 50px;"></th>
                                                <th style="width: 50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obj in data %}
                                            <tr>
                                                <th scope="row" onclick="view_detail(this, '{{obj.id}}')"
                                                    style="vertical-align: middle; cursor: pointer;">{{forloop.counter}}
                                                </th>
                                                <td onclick="view_detail(this, '{{obj.id}}')"
                                                    style="vertical-align: middle; cursor: pointer;">{{obj.name}}</td>
                                                <td onclick="view_detail(this, '{{obj.id}}')"
                                                    style="vertical-align: middle; cursor: pointer;">{{obj.birthday}}
                                                </td>
                                                <td onclick="view_detail(this, '{{obj.id}}')"
                                                    style="vertical-align: middle; cursor: pointer;">
                                                    {{SPECIALIZED_ARR|get_item:obj.specialized}}</td>
                                                <td onclick="view_detail(this, '{{obj.id}}')"
                                                    style="vertical-align: middle; cursor: pointer;">
                                                    {{DEGREE_ARR|get_item:obj.degree}}</td>
                                                <td>
                                                    <form action="/teacher_edit_ui" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-warning"
                                                            title="Edit this teacher" data-toggle="tooltip"
                                                            name="teacher_id" value="{{obj.id}}"
                                                            style="padding: 0px 0px !important;">
                                                            Edit <i class="feather icon-edit"></i></button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="/teacher_delete" method="post"
                                                        id="delete_form_{{obj.id}}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="teacher_id" value="{{obj.id}}">
                                                        <button type="button" class="btn btn-danger"
                                                            title="Delete this teacher" data-toggle="tooltip"
                                                            style="padding: 0px 0px !important;"
                                                            onclick="delete_teacher(this)" value="{{obj.id}}"> Delete <i
                                                                class="feather icon-trash-2"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

    function delete_teacher(button) {
        if (confirm("Are you sure you want to delete this teacher?")) {
            var form = document.getElementById('delete_form_' + button.value);
            form.submit();
        } else {

        }
    }

    function view_detail(row, id) {
        window.location = 'teacher_detail?id=' + id;

    };

</script>
{% endblock javascripts %}