{% extends "layouts/base.html" %}

{% block title %} UI Teacher Add {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Teacher Add </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/teacher">Teacher</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Teacher Add</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Teacher Add</h5>
                            </div>
                            <div class="card-body">
                                <h5>Teacher Informations</h5>
                                <hr>
                                <form action="/teacher_add" method="post" id="add_form" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row">
                                        <label style="margin-left: 1%;" class="mb-3">Name</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{name.0}}</b>
                                        <div class="input-group mb-3">
                                            <input class="form-control mb-3" type="text" placeholder="Name" name="name"
                                                value="{{name_value}}" id="name">
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Avatar</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{avatar.0}}</b>
                                        <div class="input-group mb-3" style="height: 310px;">
                                            <input type="hidden" name="avatar_tmp" value="{{avatar_tmp}}">
                                            <div style="width: 100%; margin-bottom: 2%; height: 234px;">
                                                <img id="img" class="avatar"
                                                    src="/static/assets/images/tmp/teacher/{{avatar_value}}"
                                                    onerror="this.src='static/assets/images/user/user-2.png'; this.onerror=null;">
                                            </div>
                                            <div class='input_box' id='fileNameTextBox'>
                                                {{avatar_value}}
                                            </div>
                                            <label class="browse_button" for="avatar">
                                                Browse
                                            </label>
                                            <input style="display:none" type="file" id="avatar" name="avatar"
                                                onchange="getFileData(this);">
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Address</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{address.0}} </b>
                                        <div class="input-group mb-3">
                                            <input class="mb-3 form-control" type="text" placeholder="Address"
                                                name="address" value="{{address_value}}">
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Phone</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{phone.0}}</b>
                                        <div class="input-group mb-3">
                                            <input class="mb-3 form-control" type="text" placeholder="Phone"
                                                name="phone" value="{{phone_value}}">
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Birthday</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{birthday.0}}</b>
                                        <div class="input-group mb-3">
                                            <input class="mb-3 form-control" type="date"
                                                placeholder="Birthday (YYYY-MM-DD)" name="birthday"
                                                value="{{birthday_value}}">
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Specialized</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{specialized.0}}</b>
                                        <div class="input-group mb-3">
                                            <select class="mb-3 form-control" type="text" placeholder="Specialized"
                                                name="specialized">
                                                <option value=""> </option>
                                                {% for v, n in SPECIALIZED_ARR.items %}
                                                {% if v == specialized_value %}
                                                <option value="{{v}}" selected> {{n}}</option>
                                                {% else %}
                                                <option value="{{v}}"> {{n}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Degree</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{specialized.0}}</b>
                                        <div class="input-group mb-3">
                                            <select class="mb-3 form-control" type="text" placeholder="Specialized"
                                                name="specialized">
                                                <option value=""> </option>
                                                {% for v, n in SPECIALIZED_ARR.items %}
                                                {% if v == specialized_value %}
                                                <option value="{{v}}" selected> {{n}}</option>
                                                {% else %}
                                                <option value="{{v}}"> {{n}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label style="margin-left: 1%;" class="mb-3">Description</label>
                                        <b style="color: red!important; margin-left: 3%;"
                                            class="text-muted">{{description.0}}</b>
                                        <div class="input-group mb-3">
                                            <textarea class="form-control mb-3" id="" rows="3" placeholder="Description"
                                                name="description">{{description_value}}</textarea>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <button type="button" class="btn btn-primary" style="margin: auto"
                                        title="Add new teacher" data-toggle="tooltip" onclick="add_teacher()"> Add <i
                                            class="feather icon-plus-square"></i> </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function add_teacher() {
        if (confirm("Are you sure you want to add this teacher?")) {
            var form = document.getElementById('add_form');
            form.submit();
        } else {

        }
    }

    function getFileData(myFile) {
        var file = myFile.files[0];
        if (file) {
            var filename = file.name;
            document.getElementById('img').src = URL.createObjectURL(file);
            document.getElementById("fileNameTextBox").innerHTML = filename;
        }
    }
</script>
{% endblock javascripts %}