{% extends "layouts/base.html" %} {% block title %} UI Score Edit {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> Score Edit </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/score">Score</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Score Edit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Score Edit</h5>
                            </div>
                            <div class="card-body">
                                <h5>Score Informations</h5>
                                <hr>
                                <form action="/score_edit" method="post" id="edit_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="score_id" value="{{record_score.id}}">

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-4" style="margin-left: 50px;">
                                            <label>Student Name</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{student_id.0}}</b>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Course Name</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{course_id.0}}</b>
                                        </div>

                                        <div class="col-md-2" style="margin-right: 50px;">
                                            <label>Score</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{score.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-4" style="margin-left: 50px;">
                                            <select class="form-control" type="text" name="student_id">
                                                <option value=""> </option>
                                                {% for student in student_records %}
                                                {% if student == record_score.student %}
                                                <option value="{{student.id}}" selected> {{student.name}}</option>
                                                {% else %}
                                                <option value="{{student.id}}"> {{student.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <select class="form-control" type="text" name="course_id">
                                                <option value=""> </option>
                                                {% for course in course_records %}
                                                {% if course == record_score.course %}
                                                <option value="{{course.id}}" selected>{{course.name}}</option>
                                                {% else %}
                                                <option value="{{course.id}}">{{course.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-md-2" style="margin-right: 50px;">
                                            <input class="form-control" type="text" placeholder="Score" name="score" value="{{record_score.score}}">
                                        </div>
                                    </div>

                                    <div class="col-md-9 row" style="margin-left: auto; margin-right: auto;">
                                        <div class="col-md-10" style="margin-left: 50px; margin-right: 50px;">
                                            <label>Description</label>
                                            <b style="color: red!important; margin-left: 3%;" class="text-muted">{{description.0}}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-9 row form-group" style="margin-left: auto; margin-right: auto;">
                                        <div class="form-group col-md-10" style="margin-left: 50px;">
                                            <textarea class="form-control" rows="3" name="description">{{record_score.description}}</textarea>
                                        </div>
                                    </div>
                                </form>

                                <div class="row form-group">
                                    <div style="margin :auto">
                                        <button type="button" class="btn btn-primary" style="width: 100px" title="Edit score" data-toggle="tooltip" onclick="edit_score()"> Edit <i
                                            class="feather icon-edit"></i> </button>
                                        <a href="/score">
                                            <button type="button" class="btn btn-warning" style="width: 100px" title="Cancel" data-toggle="tooltip"> Cancel <i
                                                class="feather icon-x-circle"></i> </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function edit_score() {
        if (confirm("Are you sure you want to edit this score?")) {
            var form = document.getElementById('edit_form');
            form.submit();
        } else {

        }
    }
</script>
{% endblock javascripts %}